 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 
<h2>Posts</h2>
<% if @user.posts.any? %>
    <%= render @user.posts %>
<% else %>
    <p><%= @user.name %> has not submitted any posts... yet.</p>
<% end %>

<h2>Comments</h2>
<% if @user.comments.any? %>
    <%= render @user.comments %>
<% else %>
    <p><%= @user.name %> has not submitted any comments... yet.</p>
<% end %>

<h2>Favorited Posts</h2>
  <div class="row">
    <div class="col-md-8">
      <% @user.favorites.each do |favorite| %>
        <div class="media">
          <div class="media-body">
            <h4>
            <%= favorite.post.title %></h4>
            <div class="media-left">
              <%= image_tag(favorite.post.user.avatar_url(48), class: "gravatar") %>
              <%= favorite.post.votes.count %> votes, <%= favorite.post.comments.count %> comments
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>